div{
    display: flex;
    background-color: black;
    color:red;
    font-size: xx-large;
}
input{
    margin-left: 400px;
    width: 300px;
    height: 20px;
    margin-top: 40px;
    border-radius: 10px;
    position: absolute;
}
.icon{
    background-color: transparent;
    border: 0;
    position:relative;
    margin-left:480px;
    margin-top: 7px;
   
}