.row{
    margin-top: 10px;
    color:rgb(235, 235, 235)
}
.movielist{
    display: inline-block;
}
.movie_aline{
    display: flex;
}
.flex_movie{
    display: flex;
}
.items{
    margin-left: 15px;
}
.poster{
    border-radius: 5px;
    height: 250px;
    transition:width 0.5s,height 0.5s;
    
}
.poster:hover{
    position: relative;
    width:250px;
    height:270px;
}
.poster_title{
    position: relative;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;

}