.topbar{
  
  background-color: rgb(230, 225, 225);
    color:red;
    font-size: xx-large;
}
.playing{
  width: 20vw;
}
.youtube{
  width: 100px;
  
}
.contents
{
 position: relative;
  padding-top: 80px;
}